.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 14px;
  width: 14px;

  &.circle {
    border-radius: 50%;
  }
}

.rect {
  color: rgb(105, 236, 105);
}

.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}
