.container {
  & > button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
  }

  &.primary {
    & > button {
      background-color: #007bff;
      color: #fff;
    }
  }
  &.secondary {
    & > button {
      background-color: #f0efef;
      color: #000000;
    }
  }
}
